.bg
{
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("./Previous Project.jpg");
  background-attachment: fixed;
  background-size:100% 100vh;
  margin-bottom: 0%;
}