.fest {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: #e6b030;
}
.fest_bg {
  transform: translateY(-20px);
}
.l-heading {
  font-size: 4rem;
  line-height: 4.4rem;
  font-weight: 800;
  color: aliceblue;
}
span {
  display: block;
}

.sub-title {
  margin: 5.8rem 0 1rem 0rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #101010;
}

a {
  text-decoration: none;
}

.imge {
  height: 800px;
  width: 60%;
  padding-left: 4rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main1 {
  margin-top: 10rem;
  width: 60%;
  padding-left: 4rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 414px) {
  body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main1 {
    width: 100%;
    text-align: center;
    padding-left: 0.6rem;
  }
  .l-heading {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .sub-title {
    font-size: 1rem;
    margin: 1.6rem 0 1.8rem 0;
  }
  aside {
    width: 100%;
  }
  img {
    display: none;
  }
}

.btn {
  border-radius: 4px;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid black;
  /* padding: 1rem 2rem; */
  font-size: 1.5rem;
  background-size: 300%;
  transition: all 0.6s;
  background-color: #e6b030;
  width: 500px;
}
.anim{
margin-top: 1em;
}
.anim1{
  transform: translateX(00px);
} 
.anim2{
  transform: translateX(00px);
} 
.anim3{
  transform: translateX(0px);
} 
.anim4{
  transform: translateX(00px);
} 
.anim5{
  transform: translateX(00px);
} 
@media screen and (max-width: 800px) {
  .anim1{
    transform: translateX(0px);
  } 
  .anim2{
    transform: translateX(0px);
  } 
  .anim3{
    transform: translateX(0px);
  } 
  .anim4{
    transform: translateX(0px);
  } 
  .anim5{
    transform: translateX(0px);
  } }
@media screen and (max-width: 630px) {
  .btn{
   max-width: 300px; 
  }
  .fest_robo{
    display: none;
  }
  .img{
    display: none;
  }
  .fest{
   min-height: 1500px;
  }
  .main1 {
    width: 100%;
  }
}
@media screen and (max-width: 760px) {
  .fest{
    min-height: 1500px;
  }
  .l-heading {
    color: aliceblue;
  }
}


.orange {
  color: rgb(2, 2, 2);
  background-image: linear-gradient(120deg, #e6b030 50%, rgb(0, 0, 0) 50%);
}

.btn:hover {
  color: #fff;
  background-position: 100%;
  transform: translateX(0.5rem);
}

.btn:active {
  transform: translate(0.5rem, 0.5rem);
  box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 0.75);
}

.svgbg {
  height: 0px;
}
.svg1 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.svg1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 90vh;
}

.svg1 .shape-fill {
  fill: #0000008c;
}

.svg2 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.svg2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60vh;
}

.svg2 .shape-fill {
  fill: #000000;
}

.fest_robo {
  height: auto;
  width: 300px;
  z-index: 33;
}
