header {
    background-color: var(--header-bg);
    /* color: white; */
    font-weight: 700;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
}

main {
    padding-top: 2px;
}

.Event {
    background: var(--bg);
    margin-top: 78px;
}

.event-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
