:root {
    --bg-img: attr(data-image);
}

.event-popup {
    animation: slip 1s;
    align-items: center;
    background: #ffe7aff1;
    border-radius: 20px;
    /* display: flex; */
    /* min-height: calc(100vh); */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* height: 70vh; */
    transition: all 1s;
    transform: translateY(-50px);
    /* padding: 80px; */
    padding: 0 80px;
    position: fixed;
    /* width: 95vw; */
    max-width: 1300px;
    height: 600px;
    margin: 0 20px;
    z-index: 10;
}

.popup-content {
    display: flex;
    /* border: 1px solid #000; */
    height: 500px;
    overflow: auto;
}

.popup-details {
    /* border: 1px solid #000; */
    width: 100%;
}

.popup-header {
    margin-top: 20px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}

.popup-header h1 {
    letter-spacing: 2px;
    font-style: oblique;
}

/* Close Button */

.close-popup-btn {
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    height: 30px;
    width: 30px;
    right: 30px;
    top: 30px;
    position: fixed;
}

.close-btn-span {
    width: 30px;
    height: 2px;
    background-color: black;
    /* scale: 2; */
}

#close1 {
    transform-origin: 50% 50%;
    transform: rotate(45deg);
}

#close2 {
    transform-origin: 50% 50%;
    transform: rotate(-45deg);
    margin-top: -2px;
}

/* SLant edge corner */


#popup-date {
    text-align: end;
    color: #000;
    font-size: 1rem;
}

.rules {
    color: #000;
}

.details p {
    font-size: 1rem;
}



.popup-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
    background-image: attr(data-image);
    width: 80%;
}

.popup-image img {
    width: 1000px;
    height: auto;
}

.sub-ev-popup {
    padding: 20px;
}

@keyframes slip {
    0% {
        transform: translateY(-1000px);
    }

    60% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-50px);
    }
}


::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffb300), color-stop(0.45, #fbe4ad), color-stop(0.6, #45caf3), color-stop(0.86, rgb(28, 58, 148)));
    border-radius: 0 0 10px 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}