.container{
  display:flex;
}
.h1{
  color:aliceblue;
  text-align: center;
  padding-top: 8%;
  padding-bottom: 2%;
  font-size:3.2rem;
  font-weight:bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.para-oc{
  text-align: center;
  font-size:2.5rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  font-weight:bolder;
  background: linear-gradient(to bottom, rgb(255, 234, 0) 60%, rgb(255, 234, 0) 40%);
  -webkit-background-clip: text;
  color: transparent;
  /* display: inline-block; */
}
.name-ocs{
  text-align: center;
  font-size:1.2rem;
  margin-top: 1.5rem;
  color:aliceblue;
}
.dom-ocs{
  text-align: center;
  font-size:1rem;
  font-style: italic;
  color:aliceblue;
}
.over{
  display: flex;
  justify-content: center;
}
.Overall{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:9rem;
}
.oc{
  height:250px;
  width:250px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.oc-box:hover .oc{
  opacity:0.7;
  transform: scale(1.1); /* Adjust the scaling factor as needed */
}
.oc-box{
  display: flex;
  flex-direction: column;
}
.Oc{
  padding-top: 2rem;
  /* padding-bottom: 2rem; */
}

.head{
  display: flex;
  justify-content: center;
}
.Head{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:6rem;
}
.hc{
  height:250px;
  width:250px;
  border-radius: 50%;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}
.oc-box:hover .hc{
  opacity:0.7;
  transform: scale(1.1); /* Adjust the scaling factor as needed */
}
.Hc{
  padding-top: 3rem;
  /* padding-bottom: 3rem; */
}

.core{
  display: flex;
  justify-content: center;
}
.Core{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:6rem;
}
.cc{
  height:250px;
  width:250px;
  border-radius: 50%;
  /* object-fit: cover; */
}
.Cc{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.executives{
  display: flex;
  justify-content: center;
}

.ex{
  height:250px;
  width:250px;
  border-radius: 50%;
  /* object-fit: cover; */
}
.ex-box{
  display: flex;
  flex-direction: column;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top:5px;
  padding-bottom:8px;
  border: 1.5px dashed white;
  border-radius: 2.5%;
}
.name-exs{
  text-align: center;
  font-size:1.1rem;
  color:aliceblue;
  /* margin-top: 1.5rem; */
}
.dom-exs{
  text-align: center;
  font-size:1rem;
  font-style: italic;
  color:aliceblue;
}
.Ex{
  padding-top: 3rem;
  padding-bottom: 5rem;
}




@media(max-width:599px){
  .Executives{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap:2.5rem;
  }
  .container{
    display:flex;
    justify-content: space-around;
  }
  .Head{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap:6rem;
  }
  .Core{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap:6rem;
  }
  .Overall{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap:9rem;
  }
}
@media(min-width:600px) and (max-width:694px){
  .Executives{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:2.5rem;
  }
  .container{
    display:flex;
    justify-content: space-around;
  }
  .Head{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap:6rem;
  }
  .Core{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap:6rem;
  }
  .Overall{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap:9rem;
  }
}

@media(min-width:695px) and (max-width:996px){
  .Executives{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:7rem;
  }
  .container{
    display:flex;
    justify-content: space-around;
  }
  .Head{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:6rem;
  }
  .Core{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:6rem;
  }
}

@media(min-width:997px) and (max-width:1028px){
  .Executives{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:4rem;
  }
  .container{
    display:flex;
    justify-content: space-around;
  }
  .Head{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:8rem;
  }
  .Core{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:8rem;
  }
}

@media(min-width:1029px) and (max-width:1357px){
  .Head{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:4rem;
  }
  .Core{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:4rem;
  }
  .Executives{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:6rem;
  }
} 

@media(min-width:1358px){
  .Executives{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:6rem;
  }
}