.h1-style{
    font-size:45px;
    padding: 5%;
}
.team-page {
    text-align: center;
    padding: 5%;
  }
  
  .section {
    margin-bottom: 20px;
  }

  .section1{
    margin-bottom: 20px;
  }
  
  .section-heading1 {
    /* font-family: ; */
    font-size: 35px;
    margin-bottom: 40px;
    margin-top:50px;
  }
  
  .section-heading2 {
    font-size: 35px;
    margin-bottom: 40px;
    margin-top:140px;
  }

  .section-heading3 {
    font-size: 35px;
    margin-bottom: 60px;
    margin-top:40px;
  }

  .section-heading4 {
    font-size: 35px;
    margin-bottom: 60px;
    margin-top:60px;
  }

  .section-heading5 {
    font-size: 35px;
    margin-top:100px;
  }

  .photos-container {
    display: flex;
    justify-content: center;
  }
  
  .photo {
    /* border: 5px solid purple; */
    margin: 0 60px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
  }

  .photo1{
    /* border: 5px solid purple; */
    display: flex;
    justify-content:space-evenly;
    margin: 0 60px 100px 0;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
  }

  .photo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
  }
  
  .photo-img {
    display: flex;
    flex-direction:row;
    justify-content: center;
    width: 280px; /* Adjust the width as needed */
    height: 310px;
    /* margin: 10px; */
    object-fit: cover;
    /* margin-bottom: 5px;  */
    border:2.5px solid rgb(40, 34, 35);
    border-radius: 0 10px 0 10px;
  }
  
  .instagram-icon {
    padding-top: 40%;
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    object-fit: scale-down;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .photo:hover .instagram-icon {
    transform: scale(1.4); /* Adjust the scale factor as needed */
  }
  
  
  .photo1:hover .instagram-icon {
    transform: scale(1.2); /* Adjust the scale factor as needed */
  }

  .hover-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .photo:hover .hover-effect {
    opacity: 1;
  }

  .photo1:hover .hover-effect {
    opacity: 1;
  }
  
  .section-heading1 span {
    background: linear-gradient(to bottom, rgb(144, 0, 255) 60%, rgb(85, 0, 128) 40%);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
  }

  .section-heading2 span {
    background: linear-gradient(to bottom,  rgb(144, 0, 255) 60%, rgb(85, 0, 128) 40%);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
  }

  .section-heading3 span {
    background: linear-gradient(to bottom, rgb(144, 0, 255) 60%, rgb(85, 0, 128) 40%);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
  }

  .section-heading4 span {
    background: linear-gradient(to bottom,  rgb(144, 0, 255) 60%, rgb(85, 0, 128) 40%);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
  }

  .section-heading5 span {
    background: linear-gradient(to bottom, rgb(144, 0, 255) 60%, rgb(85, 0, 128) 40%);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
  }

  .names-grid {
    /* Your styles for the names-grid */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust as needed */
    gap: 10px; /* Adjust as needed */
  }
  
  .name-row {
    /* Your styles for the name-row */
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust as needed */
  }
  
  .name-grid-item {
    /* Your styles for the name-grid-item */
    padding:5%;
    flex: 1;
  }

  .executive-name {
    font-weight: bold;
  }
  
  .executive-designation {
    margin-top: 2%;
    color: #555; /* Adjust color as needed */
  }

 