:root {
    --bg: #000;
    --bg1: #fff;
    --bg2: #FFD369;
    --txtShadow: #ffd2699b;
    --txtShadow0: #ffd26973;
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid #000; */
}

body {
    font-family: Arial, sans-serif;
    /* overflow-x: hidden; */
}

main {
    align-items: center;
    background: var(--bg);
    min-height: calc(100vh - 100px);
    justify-content: center;
    width: 100%;
}

.header {
    background-color: var(--bg);
    color: #fff;
    justify-content: center;
    text-align: center;
}

.header h2 {
    font-size: 3em;
    font-weight: 700;
    color: #fff;
    letter-spacing: 5px;
    margin: 0;
    padding: 0 20px;
    padding-bottom: 0;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}


.about-section {
    /* text-align: center; */
    animation: fadeIn 1s ease-in-out;
    width: 100%;
    overflow: visible;
    margin-top: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.description {
    display: flex;
    max-width: 1200px;
    padding: 40px;
    position: relative;
}

.desc {
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.desc h2 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.desc p {
    letter-spacing: 1px;
}

#desc1 p {
    text-align: right;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: rgba(250, 235, 215, 0.844);
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #8a8a8a;
}

.teamDetails {
    display: flex;
    background: var(--header-bg);
    justify-content: center;
    color: white;
    animation: fadeIn 1s ease-in-out;
    padding: 30px 0;
}

.teamDetails p {
    color: black;
    text-align: center;
}

.teamDetails img {
    height: 80px;
    display: inline-block;
    transition: all 0.4s linear;
}

.teamDetails img:hover {
    transform: scale(1.4);
}

.teamDetails>div {
    display: flex;
    justify-content: space-around;
    padding: 15px 50px;
}

.para {
    padding: 0 40px;
}

.para p {
    font-size: 1.5rem;
}

/* Add animations using CSS */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
        z-index: 0;
    }

    to {
        opacity: 1;
        transform: translateY(0);
        z-index: 10000;
    }
}

@keyframes typing {
    0% {
        background-color: #fff;
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes glow {
    
    from {
        text-shadow: 0 0 10px #fff, 0 0 30px var(--bg2), 0 0 10px var(--bg2), 0 0 50px var(--txtShadow0), 0 0 40px var(--bg2), 0 0 15px var(--txtShadow0), 0 0 2px var(--txtShadow0);
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 40px #fff, 0 0 20px var(--txtShadow), 0 0 100px var(--txtShadow), 0 0 10px var(--txtShadow), 0 0 100px var(--txtShadow), 0 0 100px var(--txtShadow);
    }
}



@media (max-width: 1000px) {
    .description {
        flex-direction: column;
        align-items: center;
    }

    .desc {
        margin-bottom: 50px;
        /* width: 80%; */
    }
    
    .desc p {
        text-align: center;
    }

    #desc1 p {
        text-align: center;
    }
}

@media ( max-width: 900px ) {
    .teamDetails > div {
        padding: 0;
    }
}

@media ( max-width: 650px) {
    .content {
        margin-top: 50px;
    }
    
    .description {
        padding: 0;
    }

    .desc {
        padding: 0;
    }

    .desc p {
        padding: 20px;
    }

    .teamDetails {
        flex-direction: column;
    }

    .teamDetails > div {
        padding: 0 20px;
    }

    .para {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        /* justify-content: flex-end; */
        /* gap: 50px; */
    }
}

@media (max-width: 500px) {
    .aboutPage{
        font-size: 0.8rem;
    }

    .content {
        padding: 0;
    }

    .teamDetails > div {
        padding: 0;
    }

    .teamDetails > div .para {
        padding: 0 20px;
    }
    
    .desc {
        padding: 0;
    }
}