
body{
  background-image: url("../../assets/home_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#topLeft{
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top:0%;
  left:0%;
}
.topRight{
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top:0%;
  left: 100%;
}


.content{
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  /* height: 50%; */
  margin-top: 15%;
  justify-content: center;
}

#homeRobot{
  width: 40%;
}
#rhs{
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
#clubName{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: yellow;
  text-align: center;
  font-size: 4em;
}
#details{
  color: white;
  font-size: 2em;
  padding-bottom: 10px;
  /* font-size: 40%; */
}

#bottomCanva{
  display: inline-flex;
  flex-wrap: wrap;
}
#bottom{
  width:50%;
}
