.navbar {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  transition: ease-out 650ms;

  position: fixed;
  width: 100%;

  z-index: 9999;

}
.nav-title{
  /* color: aliceblue; */
}
.c-black{
 
  color: black;
}
.c-white{
  color: aliceblue;
}

.navbar_normal {
  padding: 1rem 2rem;
  align-items: center;
  height: 5rem;
  /* width: 95.8vw; */
  color: white;
  background-color: rgb(0, 0, 0, 0.9);
}

.navbar_expand {
  position: fixed;
  padding: 2rem 3rem;
  align-items: start;
  height: 100vw;
  width: 320px;
  background-color: #f6bb31;
  color: rgb(0, 0, 0);
}

.flexbox {
  font-size: 1.6rem;
  font-weight: 900;
  display: flex;
  flex-direction: column;
}

.display-nav{
  width: 185px;
  margin-top: 2em;
  font-weight: 600;
  flex-direction: column;
}

.displayno {
  display: none;
}

.menu_icons {
  scale: 1.25;
  border-radius: 5px;
  padding: .1rem;
  cursor: pointer;
}

.cross_icon {
  rotate: 45deg;
  transition: ease-out 200ms;
}

.cross_icon:hover {
  rotate: 135deg;
  scale: 1.75;
}