/* App.css */
:root {
    --header-bg: #f6bb31;
    --header-bg-shadow: #fff2a888;
}

.App {
    text-align: center;
    font-family: Arial, sans-serif;
}

.eventCard {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    transition: all 1s;
    max-width: 1500px;
}


.eventCover {
    animation: inView 1s;
    /* border: 1px solid #813c3c; */
    background: #1e1d1d62;
    border-radius: 30px;
    box-shadow: 8px 8px #57575762;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
    /* min-height: 400px; */
    margin: 0 50px;
    margin-bottom: 8px;
    opacity: 0;
    width: 60vw;
    transition: all 1s;
    transform: translateX(100px);
}

.eventCoverReverse {
    flex-direction: row-reverse;
    transform: translateX(-100px);
}

.eventCover:hover {
    background: transparent;
    box-shadow: none;
}

.eventCover:hover .eventIn {
    margin: 20px;
}

.eventCover:hover .innerBox h1 {
    color: #000;
    font-weight: 700;
}

.eventCover:hover .innerBox p {
    color: #171616;
    /* font-weight: 700; */
}

.eventCover:hover .innerBox {
    background: #fec645;
    margin: 30px;
    margin-right: 0;
}

.innerBox {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 80px;
    width: 50%;
    z-index: 5;
    transition: all 0.7s ease-out;
}


.innerBox h1 {
    font-size: 1.5rem;
    color: beige;
    letter-spacing: 3px;
    font-weight: 700;
    text-align: center;
}


.innerBox p {
    color: gray;
    text-align: right;
    margin-top: 10px;
    font-size: 1rem;
}

.note {
    display: none;
}

.image {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 8px;
    z-index: 6;
}

.rotatory {
    background: transparent;
    width: 100%;
}

.rotatory:hover p {
    opacity: 1;
}

.rotatory:hover .eventIn::before {
    backdrop-filter: blur(10px);
    background: radial-gradient(#87868667, #000);
    z-index: -1;
}

.rotatory:hover .eventIn {
    transform: rotate3d(0, 10, -2, 180deg) scaleX(-1);
    outline: auto;
}

.rotatory:hover .innerBox {
    opacity: 0;
    transition: all 0.5s;
}

.eventIn {
    border-radius: 30px;
    background: rgb(245, 244, 244);
    cursor: pointer;
    display: flex;
    /* height: 100%; */
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: border 0.5s;
    -webkit-transition: all 1s;
    user-select: none;
}

.eventIn p {
    color: #fff534;
    opacity: 0;
    font-weight: 700;
}

.eventIn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    transition: all 1s;
    -webkit-transition: all 1s;
    z-index: -1;
}

.slideLeftIn {
    animation: slideLeftIn 1.2s;
    opacity: 1;
    transform: translateX(100px);
}

.slideRightIn {
    animation: slideRightIn 1.2s;
    opacity: 1;
    transform: translateX(-100px);
}

.hoveredLeft {
    box-shadow: 10px 10px 70px var(--header-bg-shadow);
}

.hoveredRight {
    box-shadow: -10px 10px 70px var(--header-bg-shadow);
}


.breaker {
    width: 40vw;
    height: 3px;
    background-image: linear-gradient(to right, #ffaa00, #fbdb5a, #f0f0f0);
}

.event-spacer {
    background: none;
    box-sizing: border-box;
    height: 100px;
    /* width: 50vw; */
    z-index: 5;
}

.event-spacer::before {
    content: "";
    position: absolute;
    inset: 0 0 0 10px;
    width: 100px;
    height: 100%;
    background-image:#f0f0f0;
}


@keyframes inView {
    0% {
        opacity: 0;
        width: 80vw;
    }
}

@keyframes slideLeftIn {
    from {
        opacity: 0;
        transform: translatex(-100vw);
    }

    to {
        opacity: 1;
    }
}

@keyframes slideRightIn {
    from {
        opacity: 0;
        transform: translatex(100vw);
    }

    to {
        opacity: 1;
    }
}




@media (max-width: 1000px) {
    .eventCover {
        width: 75vw;
    }

    .eventCover:hover .gapper {
        width: 10px;
    }

    .eventCover:hover .innerBox {
        margin: 10px;
    }

    .eventCover:hover .eventIn {
        margin: 10px;
    }

    
    .event-spacer {
        /* height: 0; */
        display: none;
    }

    .breaker {
        margin: 50px 0;
    }

    .event-list {
        margin-top: 50px;
    }
    
}

@media (max-width: 765px) {
    .eventCover {
        transform: none;
        width: 90vw;
    }

    .slideLeftIn {
        transform: none;
    }

    .slideRightIn {
        transform: none;
    }

    .note {
        display: block;
    }

    .eventIn h1 {
        font-size: 1.2rem;
    }

    .hoveredLeft {
        box-shadow: 5px 8px 50px var(--header-bg-shadow);
    }

    .hoveredRight {
        box-shadow: -5px 8px 50px var(--header-bg-shadow);
    }

    .innerBox {
        padding: 10px;
    }

    .innerBox h1 {
        font-size: 1rem;
    }

    .innerBox p {
        font-size: 0.8rem;
    }

    /* .event-spacer {
        margin: 20px 0;
    } */
}

@media (max-width: 400px) {
    .eventCover {
        flex-direction: column-reverse;
        margin: 10px;
        box-shadow: 5px 5px #57575762;
    }

    .image,
    .innerBox {
        width: 100%;
    }

    .eventIn {
        box-shadow: none;
    }

    .innerBox {
        padding: 50px;
    }

    .eventCover:hover .innerBox {
        margin: 0;
    }
}

@media (max-width: 250px) {
    .innerBox {
        padding: 20px;
    }

    .innerBox h1 {
        font-size: 0.7rem;
    }

    .innerBox p {
        font-size: 0.65rem;
    }
}