/* App.css */
:root {
    --header-bg: #f6bb31;
    --header-bg-shadow: #fff2a888;
}

.App {
    text-align: center;
    font-family: Arial, sans-serif;
}

.eventCard {
    /* border: 1px solid #fa0000; */
    opacity: 0;
}

.eventIn {
    border-radius: 8px;
    /* box-shadow: 1px 2px 10px  var(--header-bg); */
    color: black;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 30px;
    min-width: 400px;
    min-height: 300px;
    max-width: 500px;
    position: relative;
    text-align: center;
    transition: all 1s;
    -webkit-transition: all 1s;
    /* scale: 1; */
}

.eventIn h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: aliceblue;
    font-style: oblique;
    letter-spacing: 4px;
    font-weight: 900;
}

.eventIn p {
    /* color: #d0ff00; */
    color: #000;
    font-weight: 700;
}

.eventIn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff41;
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    border-radius: 8px;
    transition: all 1s;
    -webkit-transition: all 1s;
    z-index: 1;
}

.eventIn:hover::before {
    backdrop-filter: blur(0);
    background: none;
}

.rotatory{
    /* border: 1px solid #ff0000; */

}

.rotatory:hover .eventIn {
    transform: rotate3d(0, 10, -2, 180deg) scaleX(-1);
    /* opacity: 1 !important; */
}

.innerBox {
    padding: 10px;
    z-index: 1;
}

.rotatory:hover .innerBox {
    opacity: 0;
    transition: all 0.5s;
}

.slideLeftIn {
    animation: slideLeftIn 2s;
    opacity: 1;
    transform: translateX(-20vw);
}

.slideRightIn {
    animation: slideRightIn 2s;
    opacity: 1;
    transform: translateX(20vw);
}

.hoveredLeft {
    box-shadow: 10px 10px 70px var(--header-bg-shadow);
}

.hoveredRight {
    box-shadow: -10px 10px 70px var(--header-bg-shadow);
}

.breaker{
    width: 40vw;
    height: 2px;
    border: 1px solid var(--header-bg-shadow);
    background-color: var(--header-bg-shadow);
}

@keyframes slideLeftIn {
    from {
        opacity: 0;
        transform: translatex(-100vw);
    }

    to {
        opacity: 1;
    }
}

@keyframes slideRightIn {
    from {
        opacity: 0;
        transform: translatex(100vw);
    }

    to {
        opacity: 1;
    }
}




@media (max-width: 765px) {
    .slideLeftIn {
        transform: none;
    }

    .slideRightIn {
        transform: none;
    }

    .eventIn {
        max-width: 300px;
        min-height: 250px;
    }

    .eventIn h1 {
        font-size: 1.2rem;
    }

    .hoveredLeft {
        box-shadow: 5px 8px 50px var(--header-bg-shadow);
    }

    .hoveredRight {
        box-shadow: -5px 8px 50px var(--header-bg-shadow);
    }

    .innerBox p {
        font-size: 1rem;
    }
}